* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html {
    height: 100%; 
}

body {
    font: {
        family: $abel;
        size: 24px;
    }
    line-height: 1.5em;
}

.container {
    @extend %container;
}

a {
    text-decoration: none;
    color: $white;
}

h2 {
    padding-bottom: 25px;
    text-transform: uppercase;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 3rem;
    width: 210px;
    height: 3rem;
    border: 1px solid $white;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 25px;
    transition: background-color 500ms linear;

    &:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.1)
    }
}
